<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="رنّة" android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
        </activity>
        <activity android:name=".CallActivity" android:exported="false"
            android:showWhenLocked="true" android:turnScreenOn="true" android:launchMode="singleTask"/>
        <service android:name=".CallService" android:exported="true"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data android:name="android.telecom.IN_CALL_SERVICE_UI" android:value="true"/>
            <intent-filter><action android:name="android.telecom.InCallService"/></intent-filter>
        </service>
    </application>
</manifest>
